<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset-"utf-8">
        <titile>Vue.js App</titile>
        <link href="source/main.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <!-- Tutorial -->
            <p>{{message}}</p>
            <ol>
                <li v-for="item in list">{{item}}</li>
            </ol>
            <button v-on:click="handleClick">Click!</button>
            <input v-model="message"/>
            <br/>
            <button v-on:click="show=!show">Change 'Show'</button>
            <transition>
                <p v-if="show">Can you see this sentance?</p>
            </transition>
        </div>
        <script src="source/vue.js"></script>
        <script src="source/main.js"></script>
    </body>
</html>